body{
	background-color: white;
	width: 100%;
	margin: 0px;
	overflow: auto;
}

h1, h2, h4{
    color: rgba(51,47,47,0.9);
    font-family: serif;
    font-size: 25px;
    margin-top: 0px;
}

h3 {
    color: #C8C6C6;
}

h4 {
    position: absolute;
    float: left;
    color: whitesmoke;
    font-size: 12px;
    padding-top: 10px;
    width: 300px;
}

p, pre {
    line-height: 200%;
    font-size: 15px;
    color: black;
    font-family: serif;
}

pre p{
    margin: 0px;
}

p {
    text-align: justify;
}

a {
    font-family: serif;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    display: block;
}

form {
    margin: 0 auto;
}

textarea {
    cols: 50;
    rows: 50;
    width: 295px;
    height: 200px;
    resize: none;
}

#container{
	width: 100%;
	height: 100%;
	background-image: url('../images/bg.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#headContainer{
	height: 30px;
	width: 100%;
	z-index: 1000;
    background-color: rgba(51,47,47,0.9);
    margin-bottom: 215px;
}

#header{
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	width: 748px;
	position: relative;
}

#holder {
    width: 748px;
    position: absolute;
    margin-top: 25px;
}

#logo{
	margin-top: 40px;
	float: left;
	width: 150px;
	height: 150px;
	position: absolute;
}

#top-navi{
	height: 50px;
	width: auto;
	margin-top: 85px;
	margin-bottom: auto;
	float: right;
    border-bottom: 1px solid rgba(51,47,47,0.5);
    border-top: 1px solid rgba(51,47,47,0.5);
}

#top-navi ul{
    margin-top: 12px;
    margin-right: 10px;
}

#top-navi li{
	float: right;
	font-size: 22px;
    color: rgba(51,47,47,0.9);
    width: 147px;
    text-align: center;
}

#top-navi ul a:link,#top-navi ul a:visited{
	color: rgba(51,47,47,0.9);
}

#navi a:link ,#navi a:visited, #adminMenu a:link, #adminMenu a:visited, #logout a:link, #logout a:visited{
    color: whitesmoke;
}

#top-navi ul a:hover, #top-navi ul a:active, #navi li a:hover, #navi li a:active, #adminMenu a:hover, #adminMenu a:active, #logout a:hover, #logout a:active{
	color: lightsteelblue;
}

#panel1{
	width: 768px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding-bottom: 20px;
}

#block-image{
	width: 500px;
	width: 500px\9;
	float: right;
	height: 330px;
	overflow: hidden;
	z-index: 10;
	position: relative;
	padding-top: 25px;
	margin-right: 10px;
}

#block-image img{
	z-index: 10;
	width: 100%;
	height: 100%;
	position: absolute;
}

#info, #info2{
	width: 746px;
	width: 745px\9;
	height: auto;
	z-index: 100;
	padding: 10px;
	text-align: left;
}

#info-update{
	float: left;
	overflow: hidden;
	width:215px;
	width: 216px\9;
	height: auto;
}

#hollow-info{
	float: left;
	width: auto;
	height: auto;
	padding: 10px;
}

#hollow-info img {
	margin-left: 20px;
	float: right;
	width: 400px;
	height: 400px;
}

#update {
	float: left;
	margin:0px;
	width: auto;
	height: auto;
	padding: 10px;
	padding-bottom: 0px;
	z-index: 10;
}

#note{
	text-align: left;
	margin-bottom: 0px;
	margin-top: auto;
}

#panel2{
	margin-top: 10px;
	width: 100%;
	height: auto;
	background-color: white;
	-webkit-box-shadow: inset 1px 1px 10px black;
	box-shadow: inset 1px 1px 10px black;
	padding-top: 25px;
	padding-bottom: 25px;
}

#panel2 h1{
	text-align: center;
	color: #C8C6C6;
	margin: 0px;
}

span{
	color: #B23D3D;
}

#footer{
	width: 100%;
	height: auto;
    background-color: rgba(51,47,47,1.0);
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

#content-info{
	margin: auto;
	width: 768px;
	height: 200px;
	border-radius: 20px;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
    overflow: hidden;
}

#column {
    float: left;
    width: 180px;
    margin-left: 10px;
}

#column img {
    width: 30px;
    height: 30px;
    opacity: 0.6;
    margin-left: 40px;
}

#column img:hover {
    opacity: 1.0;
}

#footTitle {
    font-family: serif;
    color: rgba(70,70,70,1.0);
    font-weight: bold;
    margin-bottom: 0px;
}

#connect {
    font-family: serif;
    color: rgba(70,70,70,1.0);
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 40px;
}

#column li {
    margin-bottom: 10px;
}

#login {
    width: 560px;
    margin: 0 auto;
    padding-top: 50px;
}

#login span{
    height: 25px;
    width: 100px;
}

#post {
    padding: 10px;
    border-bottom: 1px solid rgba(51,47,47,0.9);
}

#post img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

label.field {
    width: 100px;
    float: left;
}

#adminMenu {
    width: 400px;
    float: right;
    margin: 5px;
}

#adminMenu li {
    float: right;
    margin-left: 50px;
    display: inline-block;
}

#contactEditForm form {
    width: 300px;
}

#timesEditForm form {
    width: 300px;
}

#addPostForm form {
    width: 300px;
}

#logout {
    margin: 0px;
    width: 100px;
    float: left;
    padding: 5px;
}

#footercontact {
    margin: 0px;
}

#footercontact p {
    font-size: 16px;
    line-height: 100%;
    color: whitesmoke;
    margin-bottom: 10px;
}